<app-header></app-header>
<section class="bg-sand padding-large">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <img  [src]="book.url" alt="" style="width: 413px; height: 602px">
      </div>

      <div class="col-md-6 pl-5">
        <div class="product-detail">
          <h1 style="margin-top: 0">{{book.name}}</h1>
          <p>Tác giả:{{book.authors}}</p>
          <p>Giá tiền: {{book.price}}</p>
          <p>Tiêu đề: {{book.category.name}}</p>
          <p>Ngày xuất bản: {{book.publishedDate}}</p>
          <p>Nhà xuất bản: {{book.publisher}}</p>
          <p>Số trang: {{book.totalPage}}</p>
          <button type="submit" name="add-to-cart" value="27545" class="button">Add to cart</button>

        </div>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
