<div class="parent clearfix">
  <div class="bg-illustration">
  </div>

  <div class="login">
    <div class="container">
      <div class="login-form">
        <h1 style="text-align: center">ĐĂNG NHẬP</h1>
        <form style="margin-top: 40px" [formGroup]="appUserForm">
          <input formControlName="username" type="text" placeholder="Tên đăng nhập/Số điện thoại">
          <input formControlName="password" type="password" placeholder="Mật khẩu">
          <div class="forget-pass">
            <a href="#">Quên mật khẩu ?</a>
          </div>
          <button style="margin:0 0 0 0;width: 100%;color: #3B3B3B;margin-top: 30px" (click)="login()">ĐĂNG NHẬP</button>
          <hr style="font-weight: bold;margin-top: 20px">
        </form>
        <div class="row" >
          <div class="col-md-6">
            <button routerLink=""
              style="height: 50px;width: 100%;background: none; color: #918F8F; border-radius: 12px;border:gray;font-size: 25px"
                    type="button">
              <i class="fa-solid fa-house"></i>
              &ensp;Trang chủ
            </button>
          </div>

          <div class="col-md-6">
            <button style="height: 50px;width: 100%;background: none;color: #918F8F; border-radius: 12px;font-size: 25px"
                    type="button">
              <i class="fa-solid fa-right-to-bracket"></i>
              Đăng ký
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
