<app-header></app-header>
<section class="padding-large">
  <div class="container">
    <div class="row" >

      <div class="products-grid grid">

        <figure *ngFor="let book of bookList" class="product-style">
          <img [src]="book.url" alt="Books" class="product-item">
          <button routerLink="/detail/{{book.id}}" type="button" style="left: 184px" class="add-to-cart" data-product-tile="add-to-cart">
            <i class="fa-solid fa-info"></i>
          </button>
          <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
          <figcaption>
            <h3>{{book.name}}</h3>
            <p>{{book.authors}}</p>
            <div class="item-price">{{book.price}} $</div>
          </figcaption>
        </figure>

      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
